@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=PT Sans:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color:white;
  display: flex;
 
  justify-content: space-between;
 overflow-x: scroll;
  width: 100%;
  height: 100%;
}



nav:hover{
  width: 280px;
  transition: 0.7s;
    
}


/*.nav{
  /* height:100; */
  /* position: relative;
  list-style:none;
  padding: 0; */
.nav li{
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
    
}

nav li:hover,
.active{
  background: white;
    
  
}

nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: white;
  width: 90px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
 
}


.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a{
  position: relative;
  color: black;
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}

nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
  color: black;
}

a:hover{
  background: #d8444a;
}

.logout{
  position: absolute;
  bottom: 0;
}


.main{
  position: relative;
  background-color: #f2f2f2;
  width: 100%;
  padding: 0.5rem;
}

.firstbar img{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.firstbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  padding:0.5px 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  

}

.firstbar .head-title h2 {
  display: flex; 
  align-items: center; 
}

h2{
  font-size: 55px;
  color: black;
  font-family: 'PT Sans', sans-serif;

}
.search-box{
  background: rgba(237, 237, 237);
  border-radius: 15px;
  color:rgb(34,93,134) ;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;

}

.search-box input{
  background: transparent;
  padding: 10px;

}

.search-box i{
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.user{
  display: flex;
  align-items: center;
  gap: 1rem;

}


h1{
  color: #f2f2f2;
  font-size: 100px;
  /* font-family: 'Times New Roman', cursive; */
  text-align: center;
  font-weight: bold;
}

/* h2{
    color: #7096D1;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    text-align: left;
    font-weight: bold;
} */

h3{
font-size: 16px;
font-style: italic;

}

h4{
  color: black;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  text-align: left;
  font-weight: bold;

}

h5{
  color: #090909;
  font-size: 16px;
  /* font-family: 'Pacifico', cursive; */
  text-align: left;

}

h6{
  color: #090909;
  font-size: 16px;
  /* font-family: 'Times New Roman', cursive; */
  text-align: left;
}



.booking-form-container {
  margin: 20px auto;
  width: 90%;
  height: 87%;
  background-color: #b02429; 
  padding: 30px;
  border-radius: 8px;
  margin-top: 5%;
  font-size: 16px;
  color: white;

}

.booking-form-container form div {
  margin-bottom: 10px;
}

.booking-form-container form label {
  display: block;
  margin-bottom: 5px;
}

#date{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#start-time{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.booking-form-container form input,
.booking-form-container form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.booking-form-container form button[type="submit"] {
    display: inline-block; /* Change display to inline-block */
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 20%;
  }



  #portion3 {
    margin-right: auto; /* Pushes Portion 3 to the left */
}



#portion3, #portion4 {
    flex-basis: 50%; /* Set the initial size of Portion 3 and Portion 4 to 50% */
}




table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #d8444a;
  color: white;
  padding: 12px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 12px;
}

/* Adjust the width of the first column (Booking ID) */
td:first-child,
th:first-child {
  width: 10%;
}

/* Adjust the width of the other columns */
td,
th {
  width: 18%;
}

/* Hover effect */
tr:hover {
  background-color: #ddd;
}



